@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@200;400;500&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: rgb(245, 245, 245);
}
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: rgb(46,78,67)
}
h2 {
  color: rgb(46,78,67)
}
h3 {
  color: rgb(46,78,67)
}

a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(46,78,67);
}
a:hover {
  color: rgb(213,215,206)
}

.card-white {
  background-color: white;
  padding: 32px;
  margin: 40px auto;
  box-shadow: 0 3px 5px rgb(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
  border-radius: 4px;
}

.img-circle {
  border-radius: 50%;
  width: 100px;
  margin: 16px;
}
.shadowed {
    box-shadow: 1px 2px 2px rgb(46,78,67);

}
.btn-green {
  background-color: rgb(46,78,67);
  color: rgb(213,215,206);
  padding: 12px 28px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  margin-top: 16px;
}
.btn-green:hover {
  background-color: rgb(213,215,206);
  color: rgb(46,78,67);
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
}

.list-inline {
  list-style: none;
  padding: 0;
}
.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 32px;
  color: rgb(213,215,206);
  margin: 8px 16px;
}
.social-icon:hover {
  color: rgb(150, 150, 150);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card-white {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-white {
    width: 300px;
  }
}














